@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #f3f3f3;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #f3f3f3;
  height: 100%;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 300ms 1.5s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
header {
  font-family: "Shrikhand", cursive;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 4px 4px 4px -1px rgba(91, 91, 91, 0.75);
  box-shadow: 4px 4px 4px -1px rgba(91, 91, 91, 0.75);
}
header img {
  width: 196px;
  height: 34px;
}

main .ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e0e0e0;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(170, 170, 170, 0.75);
  box-shadow: 0px -2px 5px 0px rgba(170, 170, 170, 0.75);
}
main .ville i.fas.fa-map-marker-alt {
  font-size: 1rem;
}
main .ville h2 {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  top: 0.2rem;
}

.explorer {
  text-align: center;
  background-color: #f3f3f3;
}
.explorer h2 {
  margin-top: 2rem;
}
.explorer button {
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: 4px 4px 4px -1px rgba(91, 91, 91, 0.75);
  box-shadow: 4px 4px 4px -1px rgba(91, 91, 91, 0.75);
  opacity: 1;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.explorer button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.fonctionnement {
  height: auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  counter-reset: steps;
}
.fonctionnement h2 {
  margin-left: 2rem;
}
.fonctionnement ol {
  display: flex;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  gap: 1.5rem;
}
@media screen and (max-width: 930px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #f3f3f3;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(190, 190, 190, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(190, 190, 190, 0.75);
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0.6rem;
  left: -0.8rem;
}
.fonctionnement li:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #eee1f8;
  opacity: 0.8;
}
.fonctionnement li i.fas {
  margin-right: 1rem;
  color: gray;
}

.menus {
  background-color: #f3f3f3;
  height: auto;
  padding-bottom: 3rem;
}
.menus h2 {
  margin-bottom: 2rem;
  margin-top: 0rem;
  padding-top: 2rem;
  margin-left: 2rem;
}
.menus .menus__cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
}
.menus .menus__cards a {
  text-decoration: none;
  color: inherit;
}

.card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(190, 190, 190, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(190, 190, 190, 0.75);
}

.card__description h3,
.card__description p {
  margin: 0;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.card__description p {
  padding-bottom: 0.5rem;
}

.card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.card__description .fas.fa-heart {
  color: transparent;
}

.card__description .fas.fa-heart:hover {
  cursor: pointer;
  color: #9356dc;
  transition-property: color;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: ease;
  /* ATT: écrase le `transform` dans 'i' */
  /* transform: scale(1.05); */
  /* Lui donner le transform de i en premier */
}

.nouveau {
  position: relative;
}

.nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;
}

.card__image-1 {
  background-image: url("../images/pages/la-palette-du-gout.jpg");
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.card__image-2 {
  background-image: url("../images/pages/la-note-enchantee.jpg");
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.card__image-3 {
  background-image: url("../images/pages/a-la-francaise.jpg");
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.card__image-4 {
  background-image: url("../images/pages/le-delice-des-sens.jpg");
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

@media screen and (max-width: 767px) {
  .menus .menus__cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
footer {
  height: auto;
  background-color: #353535;
  padding-bottom: 1rem;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  padding-top: 1rem;
  margin-top: 0;
  padding-left: 2rem;
  font-size: 1.3rem;
}
footer h2:before {
  /* Enlever le border bottom*/
  border-bottom: 0;
}
footer ul {
  list-style-type: none;
  padding-left: 2rem;
}
footer ul li {
  display: flex;
  align-items: center;
  height: 30px;
}
footer ul li i {
  color: yellow;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li#partenaire i {
  margin-right: 5px;
}
footer ul li#restaurant i {
  margin-right: 10px;
  margin-left: 2px;
}

/*# sourceMappingURL=index.css.map */
