@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  /* Set border-box as the global default */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Allow each element to override */
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
}

header {
  background-color: white;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
}
header nav a {
  position: absolute;
  left: 1rem;
}
header nav a i {
  font-weight: bolder;
}
header nav span {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}

section {
  background-color: #f2f2f2;
}

section article {
  box-shadow: 0px 2px 5px 0px rgba(190, 190, 190, 0.75);
  margin-top: 1rem;
}

.sections-wrapper {
  background-color: white;
}

.restaurant-header img {
  width: 100%;
}

.restaurant-nom-coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px 40px 0 0;
  background-color: #f2f2f2;
  margin-top: -40px;
  position: relative;
}

#conteneur-coeurs {
  display: flex;
}

#coeur1-div {
  transform: translateX(0);
}

#coeur2-div {
  transform: translateX(-100%);
}

#coeur1 {
  color: black;
}

#coeur2 {
  color: transparent;
}

#coeur2:hover {
  cursor: pointer;
  color: #9356dc;
  transition-property: color;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

h1 {
  font-size: 22px;
  padding: 0;
  margin-left: 2.2rem;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 16px;
  padding: 0;
  margin-left: 2.2rem;
  padding-top: 3%;
  margin-top: 0;
  position: relative;
}

h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 12%;
  border-bottom: 2px solid #99e2d0;
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#articles-entrees article:nth-child(4) {
  animation: translate-article 1.5s ease-in-out 1;
}

.articles-wrapper article:nth-child(1) {
  animation: translate-article 1.5s ease-in-out 1;
  animation-delay: -0.5s;
}
.articles-wrapper article:nth-child(2) {
  animation: translate-article 1.5s ease-in-out 1;
  animation-delay: -0.3s;
}
.articles-wrapper article:nth-child(3) {
  animation: translate-article 1.5s ease-in-out 1;
  animation-delay: -0.1s;
}

@keyframes translate-article {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}
.articles-wrapper article {
  background-color: white;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 95%;
  overflow: hidden;
  border-radius: 15px;
}
.articles-wrapper article .article-description {
  width: 100%;
}
.articles-wrapper article:hover {
  cursor: pointer;
  opacity: 1;
}
.articles-wrapper article:hover .article-description > div :nth-child(2) {
  animation: translate-prix 0.5s ease 1;
}
.articles-wrapper article h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 10px;
}
.articles-wrapper article p {
  font-size: 14px;
}
.articles-wrapper article:hover .article-coche-wrapper {
  display: flex;
  width: 16%;
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.5s ease;
  background-color: #99e2d0;
}
.articles-wrapper article:hover .article-coche-wrapper div {
  animation: spin 0.5s ease 1;
}
.articles-wrapper article:hover .article-description {
  width: 84%;
}

.composition-et-prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.composition-et-prix p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  margin-top: 0;
  width: 75%;
}
.composition-et-prix p:nth-child(2) {
  margin-right: 15px;
  margin-top: 0;
}

.fa-check-circle {
  color: white;
}

.article-coche-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 0;
  transform: translateX(100%);
}

@keyframes translate-prix {
  from {
    transform: translateX(350%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
#commander {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

#commander span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  opacity: 1;
  box-shadow: 4px 4px 4px -1px rgba(91, 91, 91, 0.75);
  opacity: 1;
}

#commander span:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.75);
}

footer {
  height: auto;
  background-color: #353535;
  padding-bottom: 1rem;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  padding-top: 1rem;
  margin-top: 0;
}
footer h2:before {
  /* Enlever le border bottom */
  border-bottom: 0;
}
footer ul {
  list-style-type: none;
  padding-left: 2rem;
}
footer ul li {
  display: flex;
  align-items: center;
  height: 30px;
}
footer ul li i {
  color: yellow;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li#partenaire i {
  margin-right: 5px;
}
footer ul li#restaurant i {
  margin-right: 10px;
  margin-left: 2px;
}

/*# sourceMappingURL=pages.css.map */
